@*@model IEnumerable<QuestionarioCOrg.DataAccess.Assunto>*@

@{
    ViewBag.Title = "Formulário";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

@{Html.RenderAction("_PageNavigation", "Admin", new { Nav = "Questionário;Cultura Organizacional" });}

@if ((bool?)ViewBag.Acesso == false)
{
    { Html.RenderAction("_AcessoNegado", "Common", new { Msg = "Este formulário já foi respondido pelo usuário logado!" }); }
}
else
{
    <div class="wrapper wrapper-content animated fadeInRight">
        @*HIDDEN SESSION *@
        @Html.Hidden("hdd-user-id-session", (int)ViewBag.IdUser)

        <div class="row">
            <div>
                <div class="ibox float-e-margins">                    
                    <div class="ibox-content">
                        <table class="table tbl-questionario">
                            @*QUESTÃO 1*@
                            <thead>
                                <tr>
                                    <th class="tbl-questionario-titulo">
                                        1 - Características Dominantes
                                    </th>
                                    <th>Atual</th>
                                    <th>Desejado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>A) A organização é um lugar muito pessoal. É como uma extensão da família. As pessoas parecem compartilhar muito de si mesmas.</p>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb1A_atual"></select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb1A_desejado"></select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>B) A organização é um lugar dinâmico e de empreendedorismo. As pessoas estão dispostas a colocar suas responsabilidades e assumir riscos.</p>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb1B_atual"></select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb1B_desejado"></select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>C) A organização está muito orientada a resultados. Uma grande preocupação é realizar o trabalho. As pessoas são muito competitivas e orientadas para a realização.</p>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb1C_atual"></select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb1C_desejado"></select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>D) A organização é um lugar muito controlado e estruturado. Os procedimentos formais geralmente regem o que as pessoas fazem.</p>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb1D_atual"></select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb1D_desejado"></select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="questionario-total">
                                    <td></td>
                                    <td>
                                        <div>
                                            <strong>Total: </strong><span id="total-atual-q1">0/100</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <strong>Total: </strong><span id="total-desejado-q1">0/100</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="hr-line-dashed"></div>
                        <table class="table tbl-questionario">
                            @*QUESTÃO 2*@
                            <thead>
                                <tr>
                                    <th class="tbl-questionario-titulo">
                                        2 - Liderança organizacional
                                    </th>
                                    <th>Atual</th>
                                    <th>Desejado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>A) A liderança na organização geralmente é considerada como exemplo de mentoring, facilitação ou orientação.</p>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb2A_atual"></select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb2A_desejado"></select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>B) A liderança na organização geralmente é considerada como exemplo de empreendedorismo, inovação ou tomada de riscos.</p>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb2B_atual"></select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb2B_desejado"></select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>C) A liderança na organização é geralmente considerada como exemplo de um foco que não seja sem sentido, seja agressivo e orientado a resultados.</p>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb2C_atual"></select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb2C_desejado"></select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>D) A liderança na organização geralmente é considerada como exemplo de coordenação, organização ou o funcionamento eficiente.</p>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb2D_atual"></select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb2D_desejado"></select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="questionario-total">
                                    <td></td>
                                    <td>
                                        <div>
                                            <strong>Total: </strong><span id="total-atual-q2">0/100</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <strong>Total: </strong><span id="total-desejado-q2">0/100</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="hr-line-dashed"></div>
                        <table class="table tbl-questionario">
                            @*QUESTÃO 3*@
                            <thead>
                                <tr>
                                    <th class="tbl-questionario-titulo">
                                        3 - Gestão de funcionários
                                    </th>
                                    <th>Atual</th>
                                    <th>Desejado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>A) O estilo de gestão na organização é caracterizado por trabalho em equipe, consenso e participação.</p>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb3A_atual"></select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb3A_desejado"></select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>B) O estilo de gestão na organização é caracterizado pelo risco assumido pelos indivíduos, pela inovação, liberdade e singularidade.</p>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb3B_atual"></select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb3B_desejado"></select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>C) O estilo de gestão na organização caracteriza-se pela elevada competitividade, alto grau de exigências e demandas.</p>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb3C_atual"></select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb3C_desejado"></select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>D) O estilo de gestão na organização é caracterizado pela segurança do emprego, conformidade, previsibilidade e estabilidade nos relacionamentos.</p>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb3D_atual"></select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb3D_desejado"></select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="questionario-total">
                                    <td></td>
                                    <td>
                                        <div>
                                            <strong>Total: </strong><span id="total-atual-q3">0/100</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <strong>Total: </strong><span id="total-desejado-q3">0/100</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table tbl-questionario">
                            @*QUESTÃO 4*@
                            <thead>
                                <tr>
                                    <th class="tbl-questionario-titulo">
                                        4 - Integração da organização
                                    </th>
                                    <th>Atual</th>
                                    <th>Desejado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>A) A integração que mantém a organização coesa e unida é lealdade e confiança mútua Compromisso com a organização é forte.</p>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb4A_atual"></select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb4A_desejado"></select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>B) A integração que mantém a organização coesa e unida é o compromisso com a inovação e o desenvolvimento. Há uma ênfase em estar na vanguarda.</p>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb4B_atual"></select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb4B_desejado"></select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>C) A integração que mantém a organização coesa e unida é a ênfase na realização e atingimento de objetivos.</p>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb4C_atual"></select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb4C_desejado"></select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>D) A integração que mantém a organização coesa e unida são regras e políticas formais. Manter uma organização que funciona sem grandes percalços é importante.</p>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb4D_atual"></select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb4D_desejado"></select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="questionario-total">
                                    <td></td>
                                    <td>
                                        <div>
                                            <strong>Total: </strong><span id="total-atual-q4">0/100</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <strong>Total: </strong><span id="total-desejado-q4">0/100</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="hr-line-dashed"></div>
                        <table class="table tbl-questionario">
                            @*QUESTÃO 5*@
                            <thead>
                                <tr>
                                    <th class="tbl-questionario-titulo">
                                        5 - Ênfases estratégicas
                                    </th>
                                    <th>Atual</th>
                                    <th>Desejado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>A) A organização enfatiza o desenvolvimento humano. Alta confiança, abertura e participação persistem.</p>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb5A_atual"></select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb5A_desejado"></select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>B) A organização enfatiza a aquisição de novos recursos e a criação de novos desafios. Experimentar coisas novas e prospecção de oportunidades são valorizadas.</p>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb5B_atual"></select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb5B_desejado"></select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>C) A organização enfatiza ações e conquistas competitivas. Atingir metas ambiciosas e ganhar posição no mercado são dominantes.</p>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb5C_atual"></select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb5C_desejado"></select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>D) A organização enfatiza a permanência e a estabilidade. Eficiência, controle e operações sem percalços são importantes.</p>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb5D_atual"></select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb5D_desejado"></select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="questionario-total">
                                    <td></td>
                                    <td>
                                        <div>
                                            <strong>Total: </strong><span id="total-atual-q5">0/100</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <strong>Total: </strong><span id="total-desejado-q5">0/100</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="hr-line-dashed"></div>
                        <table class="table tbl-questionario">
                            @*QUESTÃO 6*@
                            <thead>
                                <tr>
                                    <th class="tbl-questionario-titulo">
                                        6 - Critérios de sucesso
                                    </th>
                                    <th>Atual</th>
                                    <th>Desejado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>A) A organização define sucesso com base no desenvolvimento de recursos humanos, trabalho em equipe, compromisso dos funcionários e preocupação com as pessoas.</p>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb6A_atual"></select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb6A_desejado"></select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>B) A organização define o sucesso com base em produtos exclusivos ou novos. É líder de produtos e inovadora.</p>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb6B_atual"></select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb6B_desejado"></select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>C) A organização define sucesso com base nas conquistas no mercado e superação da concorrência. A liderança competitiva de mercado é fundamental.</p>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb6C_atual"></select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb6C_desejado"></select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>D) A organização define o sucesso nas bases da eficiência. A entrega confiável, a programação sem percalços e produção de baixo custo são críticas.</p>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb6D_atual"></select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div>
                                                <select class="form-control m-b" id="cmb6D_desejado"></select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="questionario-total">
                                    <td></td>
                                    <td>
                                        <div>
                                            <strong>Total: </strong><span id="total-atual-q6">0/100</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <strong>Total: </strong><span id="total-desejado-q6">0/100</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="hr-line-dashed"></div>
                        <div class="footer-btns">
                            <button class="btn btn-primary" id="btn-resultados">Gerar Resultados</button>
                            <button class="btn btn-success btn-salvar-form">Salvar</button>
                        </div>
                    </div>
                    @*Resultados*@
                    <div class="row grid-resultado">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="ibox-title">
                                <h5>Resultados</h5>
                            </div>
                            <div class="ibox-content">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Média (Atual)</th>
                                            <th>Média (Desejado)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>A</td>
                                            <td><span id="itemA-avg">0</span></td>
                                            <td><span id="itemA-avg-desejado">0</span></td>
                                        </tr>
                                        <tr>
                                            <td>B</td>
                                            <td><span id="itemB-avg">0</span></td>
                                            <td><span id="itemB-avg-desejado">0</span></td>
                                        </tr>
                                        <tr>
                                            <td>C</td>
                                            <td><span id="itemC-avg">0</span></td>
                                            <td><span id="itemC-avg-desejado">0</span></td>
                                        </tr>
                                        <tr>
                                            <td>D</td>
                                            <td><span id="itemD-avg">0</span></td>
                                            <td><span id="itemD-avg-desejado">0</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



<script src="~/Scripts/questionario.ORG.js"></script>
