<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LGPD | Lei Geral de Proteção de Dados</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/assets/lgpd_leads/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/assets/lgpd_leads/vendor/nouislider/nouislider.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/assets/lgpd_leads/css/style.css">    
</head>

<body>
    <style>
        select {
            box-sizing: border-box;
            border: 1px solid #ebebeb;
            padding: 14px 20px;
            border-radius: 5px;
            width: 100%;
            font-weight: 600;
            -webkit-border-radius: 5px;
            font-size: 14px;
            font-family: 'Poppins';
        }
    </style>

    @RenderBody()


    <!-- JS -->
    <script src="~/assets/lgpd_leads/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/lgpd_leads/vendor/nouislider/nouislider.min.js"></script>
    <script src="~/assets/lgpd_leads/vendor/wnumb/wNumb.js"></script>
    <script src="~/assets/lgpd_leads/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/lgpd_leads/vendor/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.js"></script>
    <script src="~/Scripts/ValidacoesCamposForm.js"></script>
    <script src="~/assets/lgpd_leads/js/lgpd_leads.js"></script>
    <script src="~/assets/lgpd_leads/js/main.js"></script>
</body>
</html>