@if (ViewBag.Error != "")
{
    <h3 style="color: red">Erro - @ViewBag.Error</h3>
}
else
{
    <div class="ibox float-e-margins" style="margin-top: 15px">
        <div class="ibox-title">
            <h5>Lista dos formulários</h5>
        </div>
        <div class="ibox-content">
            <table class="table">
                <thead>
                    <tr>
                        <th>Vínculo</th>
                        <th>Formulário</th>                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var EQitem in ViewBag.EQuestionarios)
                    {
                        //NÃO EXIBIR O NÃO INFORMADO
                        if (EQitem.Questionario.qst_nome == "Não Informado")
                        {
                            continue;
                        }
                        <tr>
                            <td>
                                <span onclick="SalvarPermissaoForm(@EQitem.eqt_id)">
                                    @{
                                        string EQName = "chk-permissao-form";
                                    }

                                    @{Html.RenderAction("_Toggle", "Common", new { TName = EQName, TNumber = EQitem.eqt_id, TChecked = EQitem.eqt_ativo });}
                                </span>
                            </td>
                            <td>
                                @EQitem.Questionario.qst_nome
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}