@model QuestionarioCOrg.DataAccess.EmpresaQuestionario

@{
    ViewBag.Title = "PermissaoFormularios";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

@{ Html.RenderAction("_PageNavigation", "Admin", new { Nav = "Permissões;Formulários" }); }

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Permissão de formulários</h5>
                </div>

                <div class="ibox-content">
                    @using (Html.BeginForm())
                    {                        
                        <div class="form-group col-md-6" id="fg-empresa-usuario" style="padding-left: 0">
                            <div>
                                <label>Empresa</label>
                                @Html.DropDownList("IdEmpresa", null, "Selecione", htmlAttributes: new
                                {
                                    @class = "form-control m-b qst-input",
                                    @Id = "empresa-permissao-formularios"
                                })                                
                            </div>
                        </div>
                        
                        <br />
                        <div class="hr-line-dashed" style="margin-top: 70px;"></div>
                        <div class="footer-btns">                            
                        </div>
                    }
                    @*PARTIAL VIEW*@
                    <div id="partial-lista-formularios-permissao"></div>
                </div>
            </div>
        </div>
    </div>
</div>