@model QuestionarioCOrg.ViewModels.ResultadosVM

    <table class="table table-striped table-bordered table-hover dataTables-example" style="margin-top: 15px">
        <thead>
            <tr>
                <th style="text-align: center">Classificação</th>
                <th>Pergunta</th>
                <th style="text-align: center">Resposta</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Respostas)
            {   
            <tr class="gradeX">                
                <td style="text-align: center">@Html.DisplayFor(modelItem => item.Pergunta.Classificacao.cls_nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Pergunta.prg_descricao)</td>
                <td  style="text-align: center">@Html.DisplayFor(modelItem => item.Resposta.rsp_descricao)</td>                
            </tr>
            }
        </tbody>
    </table>