<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">

        <h2>@ViewBag.Modulo</h2>
        <ol class="breadcrumb">
            @{
                int auxCount = 1;
            }

            @foreach (var item in ViewBag.Nav)
            {
                if (auxCount == ViewBag.Nav.Count)
                {
                    <li class="active">
                        <strong>@item</strong>
                    </li>
                }
                else
                {
                    <li>
                        <a href="#">@item</a>
                    </li>
                }

                auxCount++;
            }

        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>