
@{
    ViewBag.Title = "Lead";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    { Html.RenderAction("_PageNavigation", "Admin", new { Nav = "Administrativo;Consulta;Leads" }); }

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Consultar Leads Cadastrados</h5>
                    </div>

                    <div class="ibox-content">
                        @using (Html.BeginForm())
                        {                            
                            @Html.Hidden("hdd-usuario-error", (string)ViewBag.Error)
                            <div class="form-group col-md-2" style="padding-left: 0">
                                <div>
                                    <label>Tipo de Lead</label>
                                    @Html.DropDownList("TpLead", null, htmlAttributes: new
                                    {
                                   @class = "form-control m-b qst-input",
                                        @Id = "tp-lead"
                                    })
                                </div>
                            </div>
                            <br />
                            <div class="hr-line-dashed" style="margin-top: 70px;"></div>
                            <div class="footer-btns">
                                <button class="btn btn-primary" id="btn-consultar-leads">Consultar</button>
                                <button class="btn btn-default btn-limpar-form" style="margin-left: 10px">Limpar</button>
                            </div>
                        }


                        <div id="partial-lista-leads"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}