<div class="form-group" style="margin-left: -10%">
    <label class="col-lg-2 control-label">Departamento</label>
    <div class="col-md-6">
        @Html.DropDownList("IdDepartamento", null, "Selecione o departamento", htmlAttributes: new {
            @class = "form-control m-b", @Id = "depto-filtro-resultados" })
    </div>
</div>