<!DOCTYPE html>
<html>
<head>

    @Styles.Render("~/bundlesLogin/css")
    @Scripts.Render("~/bundlesLogin/js")
    <title>Login</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/floating-labels/">

</head>
    @RenderBody()
</html>
