<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from leads.arounddeal.com/l/sales-leads.php by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 Mar 2020 20:23:56 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find Leads | AroundDeal | Start with Free Leads Now</title>
    <meta name="description"
          content="AroundDeal is a powerful sales leads and marketing tool to help you target the right audience and accelerate sales revenue.">
    <meta name="keywords"
          content="leads,email marketing,email lists,lead generation,find leads,email campaign,leads generation,business leads,how to get email lists for marketing,bulk email software,email finder,find email,find that email,email marketing list,leads list,linkedin helper,business listings,email address finder,find email address,online lead generation,network marketing leads,b2b lead generation,buy leads">
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700" media="all">
    <link rel="stylesheet" href="~/assets/lgpd_leads/landing/css/vendor.css">
    <link rel="stylesheet" href="~/assets/lgpd_leads/landing/css/theme.css">
    <link rel="stylesheet" href="~/assets/lgpd_leads/landing/vendor/rs-plugin/css/settings.css" media="none" onload="media='all'">
    <link rel="stylesheet" href="~/assets/lgpd_leads/landing/vendor/rs-plugin/css/layers.css" media="none" onload="media='all'">
    <link rel="stylesheet" href="~/assets/lgpd_leads/landing/vendor/rs-plugin/css/navigation.css" media="none" onload="media='all'">    
    <link rel="stylesheet" href="~/assets/lgpd_leads/landing/css/fonts/font.css" media="none" onload="media='all'">
    <link rel="stylesheet" href="~/assets/lgpd_leads/landing/vendor/font-awesome/css/fontawesome-all.min.css" media="none"
          onload="media='all'">
    <link rel="stylesheet" href="~/assets/lgpd_leads/landing/vendor/linear-icons/css/linear-icons.min.css" media="none"
          onload="media='all'">
    <link rel="stylesheet" href="~/assets/lgpd_leads/landing/vendor/simple-line-icons/css/simple-line-icons.min.css" media="none"
          onload="media='all'">

    <noscript>
        <link rel="stylesheet" href="~/assets/lgpd_leads/landing/vendor/rs-plugin/css/settings.css">
        <link rel="stylesheet" href="~/assets/lgpd_leads/landing/vendor/rs-plugin/css/layers.css">
        <link rel="stylesheet" href="~/assets/lgpd_leads/landing/vendor/rs-plugin/css/navigation.css">        
        <link rel="stylesheet" href="~/assets/lgpd_leads/landing/css/fonts/font.css">
        <link rel="stylesheet" href="~/assets/lgpd_leads/landing/vendor/font-awesome/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="~/assets/lgpd_leads/landing/vendor/linear-icons/css/linear-icons.min.css">
        <link rel="stylesheet" href="~/assets/lgpd_leads/landing/vendor/simple-line-icons/css/simple-line-icons.min.css">
    </noscript>
</head>

<body class="loading-overlay-showing" data-loading-overlay>
    <header id="header" class="">
        <div class="container-fluid">

            <div id="logo" class="pull-left">
                <h1><a href="/" class="scrollto main-title">  LGPD<span id="main-title"> - Lei Geral de Proteção de Dados</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!--<a href="#intro"><img src="~/assets/img/logo.png" alt="" title="" /></a>-->
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
                    <li><a href="/Login/AcessoRestrito" style="color: #d2b318;font-size: 16px"><i class="fa fa-lock" style="margin-right: 5px"></i>Entrar</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div role="main" class="main">
        <div class="slider-container slider-container-height-490 wrapper-content-2"
             style="background-image:url('../../assets/lgpd_leads/landing/imgs/banner-2.jpg');">
            <div class="container" style="position:relative;">
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                        <div class="content-item" id="sub-title">
                            <h1 class="text-light title font-weight-bold appear-animation"
                                data-appear-animation="maskUp">
                                Generate More Accurate Leads 10X Faster
                            </h1>
                            <p class="text-light sub-title appear-animation" data-appear-animation="maskUp"
                               data-appear-animation-delay="200">
                                Reach Your Targeted Customers and Close Deal Faster
                            </p>
                        </div>
                    </div>
                </div>
                @RenderBody()
            </div>
        </div>

        @if ((bool?)ViewBag.Visible == true)
        {
            <section class="section" style="z-index: -1">
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                            <div class="overflow-hidden mb-3">
                                <h2 class="font-weight-bold mb-0 appear-animation" data-appear-animation="maskUp"
                                    data-appear-animation-delay="200">
                                    Reach 150 million leads across industries
                                    worldwide
                                </h2>
                                <p class="lead appear-animation" data-appear-animation="fadeInUpShorter"
                                   data-appear-animation-delay="300">
                                    Spend Less Time Prospecting and More Time Selling.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-baseline mt-2 appear-animation" data-appear-animation="fadeInUpShorter"
                         data-appear-animation-delay="400">
                        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                            <div class="icon-box icon-box-style-1 flex-wrap flex-lg-nowrap">
                                <div class="icon-box-icon mb-3 mb-lg-0">
                                    <img width="42" src="~/assets/lgpd_leads/landing/imgs/serch.svg" alt="search-icon" />
                                </div>
                                <div class="icon-box-info">
                                    <div class="icon-box-info-title">
                                        <h3 class="font-weight-bold text-4">Go beyond Traditional Search</h3>
                                    </div>
                                    <p>
                                        Don't waste time chasing the unqualified prospects. ArounDeal chrome extension
                                        smartly integrates with your LinkedIn and provides professional email addresses
                                        of your target customers in 1 click.
                                    </p>
                                </div>
                            </div>
                            <div class="icon-box icon-box-style-1 flex-wrap flex-lg-nowrap">
                                <div class="icon-box-icon mb-3 mb-lg-0">
                                    <img width="42" src="~/assets/lgpd_leads/landing/imgs/correct.svg" alt="correct-icon" />
                                </div>
                                <div class="icon-box-info">
                                    <div class="icon-box-info-title">
                                        <h3 class="font-weight-bold text-4">Find the right leads.</h3>
                                    </div>
                                    <p>
                                        Use AroundDeal to get access to the latest 150 million leads across industries.
                                        Develop and qualify potential buyers well with better aligned campaigns. You’ll
                                        identify and deliver more leads that close, and close the deal faster.
                                    </p>
                                </div>
                            </div>
                            <div class="icon-box icon-box-style-1 flex-wrap flex-lg-nowrap">
                                <div class="icon-box-icon mb-3 mb-lg-0">
                                    <img width="42" src="~/assets/lgpd_leads/landing/imgs/cooperate.png" alt="cooperate-icon" />
                                </div>
                                <div class="icon-box-info">
                                    <div class="icon-box-info-title">
                                        <h3 class="font-weight-bold text-4">
                                            Build Collaboratively in Real-time with Your
                                            Team
                                        </h3>
                                    </div>
                                    <p>
                                        Manage and export lists, upload them to the CRM or share them with your
                                        team.Create personas of your target customers list such as job title, company,
                                        industry, skills and location.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
    </div>
    <footer id="footer" class="footer-hover-links-light mt-0">
        <div class="footer-copyright mt-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mb-4 mb-lg-0">© Copyright 2020</div>
                    <div class="col-lg-4 ml-auto">&nbsp;</div>
                    <div class="col-lg-3"></div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/assets/lgpd_leads/landing/vendor/modernizr/modernizr.min.js"></script>
    <script src="~/assets/lgpd_leads/landing/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/lgpd_leads/landing/vendor/jquery.appear/jquery.appear.min.js"></script>
    <script src="~/assets/lgpd_leads/landing/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/assets/lgpd_leads/landing/vendor/jquery-cookie/jquery-cookie.min.js"></script>
    <script src="~/assets/lgpd_leads/landing/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/lgpd_leads/landing/vendor/common/common.min.js"></script>
    <script src="~/assets/lgpd_leads/landing/vendor/jquery.validation/jquery.validation.min.js"></script>
    <script src="~/assets/lgpd_leads/landing/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
    <script src="~/assets/lgpd_leads/landing/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
    <script src="~/assets/lgpd_leads/landing/vendor/isotope/jquery.isotope.min.js"></script>
    <script src="~/assets/lgpd_leads/landing/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/assets/lgpd_leads/landing/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/lgpd_leads/landing/vendor/vide/vide.min.js"></script>
    <script src="~/assets/lgpd_leads/landing/vendor/vivus/vivus.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/assets/lgpd_leads/landing/js/theme.js"></script>

    <!-- Current Page /Vendor and Views -->
    <script src="~/assets/lgpd_leads/landing/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/assets/lgpd_leads/landing/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <!-- Theme Custom -->
    <script src="~/assets/lgpd_leads/landing/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/assets/lgpd_leads/landing/js/theme.init.js"></script>

    <!-- Examples -->
    <script src="~/assets/lgpd_leads/landing/js/examples/examples.portfolio.js"></script>
    <script src="~/assets/lgpd_leads/landing/js/examples/examples.lightboxes.js"></script>
    <script src="~/assets/lgpd_leads/landing/js/main.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/ValidacoesCamposForm.js"></script>
    <script>
        $(document).ready(function () {
            arounddeal.start('landing');

        });

    </script>
    @{
        if (HttpContext.Current.Request.Url.Host.Contains("localhost"))
        {
            <script src="~/assets/lgpd_leads/landing/js/chat.js"></script>
        }
        else
        {
            <script src="~/assets/lgpd_leads/landing/js/chat.min.js"></script>
        }
    }    
</body>

<!-- Mirrored from leads.arounddeal.com/l/sales-leads.php by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 Mar 2020 20:24:08 GMT -->

</html>