<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.CorretoraPremiumConnectionString"
            connectionString="Data Source=192.168.3.20;Initial Catalog=CorretoraPremium;User ID=proseg;Password=b123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>