<li class="nav-header">
    <div class="dropdown profile-element">
        
        @*<img alt="image" class="img-circle avatar-user" src="~/assets/img/avatar_user.png" />*@            
        <div class="logo-opportuna">
            <img src="~/assets/img/smart_form.png" />
        </div>            
        
        <a href="#">
            <span class="clear">
                <span class="block m-t-xs">
                    <strong class="font-bold">@ViewBag.UserName</strong>
                    @*</span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>*@
                </span>
            </span>
        </a>
    </div>
    <div class="logo-element">
        IN+
    </div>
</li>