body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.form-content {
    margin-top: 3%;
}

.row-question {
    border-style: solid;
    border-width: thin;
}

.msg-sucesso {
    margin-top: 20%;    
    text-align: center;
}

.sector-resultado {
    margin-top: 20px;
    display: none;
}

    .sector-resultado .grid-resultado, .grid-resultado-header {
        border: solid thin;
        text-align: center;
    }

    .sector-resultado .grid-resultado span {
        font-size: 1.0em;        
    }

    .sector-resultado .grid-resultado-header span {
        font-size: 1.0em;
        font-weight: 700;
    }

.msg-sucesso h4 {
    color: blue;
}

.input-test {
    margin: 10px 0 7px 0;
}

.input-name {
    margin-bottom: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
textarea {
    max-width: 280px;
}
