
@{
    ViewBag.Title = "Dados do Participante";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Dados do Participante @*<small>With custom checbox and radion elements.</small>*@</h5>
                            @*<div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li>
                                            <a href="#">Config option 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Config option 2</a>
                                        </li>
                                    </ul>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>*@
                        </div>
                        <div class="ibox-content">
                            <form method="get" class="form-horizontal" id="form">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Nome</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" id="input-nome"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Empresa</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" id="input-empresa"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Departamento</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" id="input-depto"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Cargo</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" id="input-cargo"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">E-mail</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" id="input-email"></div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button class="btn btn-primary" id="btn-go-form">Ir para o formulário</button>
                                        <button class="btn btn-white" type="submit">Limpar</button>
                                    </div>
                                </div>
                            </form>
                            <div class="ibox-content msg-formParticipante-error">
                                <div class="alert alert-danger">
                                    Todos os dados são obrigatórios. <a class="alert-link" href="#">Erro no formulário</a>.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
