<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="middle-box text-center animated fadeInRightBig" style="width: 35%">
                <i class="fa fa-exclamation-triangle partial-msg-icon"></i>
                <h3 class="font-bold" style="color: red; font-size: 18px;">@ViewData["Titulo"]</h3>


                @if (ViewData["Msg"] == "formulário indisponível")
                {
                    <div class="error-desc" style="font-size: 14px;">
                        Favor enviar um e-mail para <a href="mailto: contato@opportunatecnologia.com.br"><b>contato@opportunatecnologia.com.br</b></a> e solicitar a liberação do formulário para preenchimento;
                    </div>
                }
                else
                {
                    <div class="error-desc" style="font-size: 14px;">
                        @ViewData["Msg"]
                    </div>
                }

            </div>
        </div>
    </div>
</div>
