
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Eterna | Tecnologia da Informação</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/assets/img/lgpd/favicon.png" rel="icon">
    <link href="~/assets/img/lgpd/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/assets/lgpd/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Libraries CSS Files -->
    <link href="~/assets/lgpd/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/lgpd/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/assets/lgpd/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/assets/lgpd/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/assets/lgpd/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->    
    <link href="~/assets/css/lgpd/style.css" rel="stylesheet" />

</head>

<body>
    @RenderBody()
    <!--==========================
      Header
    ============================-->
    <header id="header">
        <div class="container-fluid">

            <div id="logo" class="pull-left">
                <h1><a href="#intro" class="scrollto main-title">  LGPD<span id="main-title"> - Lei Geral de Proteção de Dados</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!--<a href="#intro"><img src="~/assets/img/logo.png" alt="" title="" /></a>-->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="#intro">Início</a></li>
                    <li><a href="#about">Sobre Nós</a></li>
                    <li><a href="#services">Programa</a></li>
                    <li><a href="#clients">Parceiros</a></li>
                    <!--<li><a href="#team">Team</a></li>
                    <li class="menu-has-children"><a href="">Drop Down</a>
                      <ul>
                        <li><a href="#">Drop Down 1</a></li>
                        <li><a href="#">Drop Down 3</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                        <li><a href="#">Drop Down 5</a></li>
                      </ul>
                    </li>
                    -->
                    <li><a href="#contact">Contato</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->
    <!--==========================
      Intro Section
    ============================-->
    <section id="intro">
        <div class="intro-container">
            <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

                <!--<ol class="carousel-indicators"></ol>-->

                <div class="carousel-inner" role="listbox">

                    <div class="carousel-item active">
                        <div class="carousel-background"><img src="~/assets/img/lgpd/intro-carousel/1.jpg" alt=""></div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2>Programa de Adequação</h2>
                                <p>Somos uma empresa especializada e capacitada para os desafios previstos na nova legislação da LGPD. </p>
                                <a href="#featured-services" class="btn-get-started scrollto">Veja mais</a>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="carousel-background"><img src="~/assets/img/lgpd/intro-carousel/adequacao_lgpd2.jpg" alt=""></div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2>Por Que se Adequar?</h2>
                                <p>A LGPD dispõe sobre o tratamento de dados pessoais com o objetivo de proteger os direitos fundamentais de liberdade e de privacidade. Até agosto de 2020, as empresas precisam estar em conformidade com a Lei Geral de Proteção de Dados.</p>
                                <a href="#featured-services" class="btn-get-started scrollto">Faça uma avaliação rápida</a>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="carousel-background"><img src="~/assets/img/lgpd/intro-carousel/comprometimento_lgpd.jpg" alt=""></div>                        
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2>Nosso Comprometimento</h2>
                                <p>A GMS Perspectivas, Peter Filho e a Eterna Soluções me Tecnologia, assumem o compromisso de cultivar padrões éticos e legais em seu negócio. Esse comprometimento com a responsabilidade corporativa busca construir uma relação de confiança com os clientes, colaboradores, parceiros e toda rede de relacionamento.</p>
                                <a href="#featured-services" class="btn-get-started scrollto">Veja nosso trabalho</a>
                            </div>
                        </div>
                    </div>
                    <!--
                      <div class="carousel-item">
                        <div class="carousel-background"><img src="~/assets/img/intro-carousel/4.jpg" alt=""></div>
                        <div class="carousel-container">
                          <div class="carousel-content">
                            <h2>Nam libero tempore</h2>
                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum.</p>
                            <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                          </div>
                        </div>
                      </div>

                      <div class="carousel-item">
                        <div class="carousel-background"><img src="~/assets/img/intro-carousel/5.jpg" alt=""></div>
                        <div class="carousel-container">
                          <div class="carousel-content">
                            <h2>Magnam aliquam quaerat</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                          </div>
                        </div>
                      </div>
                    -->
                </div>

                <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>

                <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Avançar</span>
                </a>

            </div>
        </div>
    </section>
    <!-- #intro -->

    <section class="features-top-area" id="features">
        <div class="container">
            <div class="row promo-content">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box mb20 xs-mb0 wow fadeInUp padding30" data-wow-delay="0.1s">
                        <div class="box-icon features-box-icon">
                            <i class="ion-ios-bookmarks-outline"></i>
                            <!--<i class="fa fa-graduation-cap"></i>-->
                        </div>
                        <h3 class="box-title">Como a Empresa se Adequa</h3>
                        <p style="text-align:justify;">
                            Adotando um conjunto de políticas bem estruturadas e organizadas; contamos com um Time de profissionais multissetorial,
                            envolvendo todas as áreas da empresa para conduzir a empresa ao caminho do Compliance.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb20 xs-mb0  wow fadeInUp padding30" data-wow-delay="0.2s">
                        <div class="box-icon features-box-icon">
                            <i class="ion-ios-stopwatch-outline"></i>
                        </div>
                        <h3 class="box-title">Prazo de Adequação</h3>
                        <p style="text-align:justify;">
                            O prazo para adequação pode variar de 6 a 18 meses, de acordo com o porte e complexidade da atuação de mercado de cada empresa.
                            O trabalho é realizado em fases com absoluta transparência e cumprimento dos prazos acordados.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb20 xs-mb0 wow fadeInUp padding30" data-wow-delay="0.3s">
                        <div class="box-icon features-box-icon">
                            <i class="ion-trophy"></i>
                        </div>
                        <h3 class="box-title">Otimização da Adequação</h3>
                        <p style="text-align:justify;">
                            Por se tratar de uma lei multissetorial, com impacto direto e imediato em diferentes áreas, a relação íntegra e dinâmica com a alta diretoria
                            facilitará as adequações sem que as medidas adotadas prejudiquem o negócio ou dificultar operação da empresa.
                        </p>
                    </div>
                </div>
                <!--<div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb20 xs-mb0 wow fadeInUp padding30 visible-sm" data-wow-delay="0.4s">
                        <div class="box-icon features-box-icon">
                            <i class="fa fa-cog"></i>
                        </div>
                        <h3 class="box-title">Quality Service</h3>
                        <p>A Google Docs scam that appears to be widespread began landing in Wednesday in what seemed to be a phishing attack.</p>
                    </div>
                </div>-->
            </div>
        </div>
    </section>

    <!--<main id="main">-->
    <!--==========================
      Featured Services Section
    ============================-->
    <!--<section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <i class="offset-lg-5 offset-md-4 offset-sm-4 ion-ios-bookmarks-outline"></i>
            <h4 class="title" style="text-align:center;"><a>Como a Empresa se Adequa</a></h4>
            <p class="description" style="text-align: justify">Adotando um conjunto de políticas bem estruturadas e organizadas; contamos com um Time de profissionais multissetorial,
                                   envolvendo todas as áreas da empresa para conduzir a empresa ao caminho do Compliance.</p>
          </div>

          <div class="col-lg-4 box box-bg">
            <i class="offset-lg-5 offset-md-4 offset-sm-4 ion-ios-stopwatch-outline"></i>
            <h4 class="title" style="text-align:center;"><a>Prazo de Adequação</a></h4>
            <p class="description" style="text-align: justify">O prazo para adequação pode variar de 6 a 18 meses, de acordo com o porte e complexidade da atuação de mercado de cada empresa.
                                                               O trabalho é realizado em fases com absoluta transparência e cumprimento dos prazos acordados.</p>
          </div>

          <div class="col-lg-4 box">
            <i class="offset-lg-5 offset-md-4 offset-sm-4 icon ion-trophy"></i>
            <h4 class="title" style="text-align:center;"><a>Otimização da Adequação</a></h4>
            <p class="description" style="text-align: justify">Por se tratar de uma lei multissetorial, com impacto direto e imediato em diferentes áreas, a relação íntegra e dinâmica com a alta diretoria
                                   facilitará as adequações sem que as medidas adotadas prejudiquem o negócio ou dificultar operação da empresa.</p>
          </div>

        </div>
      </div>
    </section>-->
    <!-- #featured-services -->
    <!--==========================
      About Us Section
    ============================-->
    <section id="about" style="margin-top: 30px">
        <div class="container">

            <header class="section-header">
                <h3>Nosso Trabalho</h3>
                <p style="text-align:justify;">
                    Somos uma equipe preparada para os desafios previstos na legislação brasileira. Temos uma estrutura corporativa dedicada a conceber, acompanhar e revisar todas as etapas do programa de adequação à LGDP, em coautoria com nossos clientes.
                    Garantimos a transparência durante todas as etapas do trabalho e promovemos uma dinâmica fluída e contínua, nas entregas seriadas dos resultados.
                </p>
            </header>

            <div class="row about-cols">

                <div class="col-md-4 wow fadeInUp">
                    <div class="about-col">
                        <div class="img">
                            <img src="~/assets/img/lgpd/gms_perspectiva.jpg" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">GMS Perspectivas</a></h2>
                        <p>
                            A GMS possui em seus quadros consultores altamente qualificados e especializados nos temas abaixo listados, com larga experiência em regulação, organização e supervisão do SFN:
                            <br><br>
                        </p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="about-col">
                        <div class="img">
                            <img src="~/assets/img/lgpd/peter_filho.jpg" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-list-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Peter Filho</a></h2>
                        <p style="text-align:justify;">
                            Assessoria jurídica preparada e capacitada para atuar nos desafios previstos na legislação brasileira. Possui uma estrutura corporativa dedicada a conceber, acompanhar e revisar todas as etapas do programa de adequação à LGDP, em coautoria com nossos clientes.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="about-col">
                        <div class="img">
                            <img src="~/assets/img/lgpd/eterna_tecnologia.jpg" alt="" class="img-fluid">                            
                            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Eterna</a></h2>
                        <p style="text-align:justify;">
                            A Eterna é uma empresa brasileira que atua no mercado com soluções em Tecnologia da Informação, dentre elas, consultoria e assessoria durante todo o ciclo de vida da adequação da Lei Geral de Proteção de Dados - LGPD.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #about -->
    <!--==========================
      Services Section
    ============================-->
    <section id="services">
        <div class="container">

            <header class="section-header wow fadeInUp">
                <h3>Programa de Adequação - LGPD</h3>
                <p>Programa para implementação da Governça de Privacidade, seguindo a exigências da Lei Geral de Proteção de Dados (LGPD)</p>
            </header>

            <div class="row">
                <!--
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                    <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                    <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                </div>
                -->
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-people-outline"></i></div>
                    <h4 class="title">Alinhamento Estratégico</h4>
                    <p style="text-align:justify;" class="description">Alinhamento com as áreas estratégicas para comunicação das diretivas que serão tomadas durante o projeto de adequação da Lei Geral de Proteção de Dados </p>
                </div>
                <!--
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                    <h4 class="title"><a href="">Dolor Sitema</a></h4>
                    <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                </div>
                -->

                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                    <h4 class="title">Execução do Planejamento</h4>
                    <p style="text-align:justify;" class="description">Nesse momento o cronograma é executado em sua plenitude com a assessoria jurídica e os profissionais de Tecnologia da Informação. </p>
                </div>

                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-paper-outline"></i></div>
                    <h4 class="title">Fechamento do Projeto</h4>
                    <p style="text-align:justify;" class="description">Após todo o trabalho realizado, a entrega final é realizada primeiramente com as áreas estratégicas e posteriormente nas áreas táticas. </p>
                </div>
                <div class=" row col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-6 col-md-12 col-sm-12" style="padding-left: 0px;">
                        <div class="col-lg-12 col-md-12 col-sm-12 box wow bounceInUp">
                            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
                            <h2 class="title"><a href="">Curso de Formação para DPOs - Data Protection Officer</a></h2>
                            <p style="text-align:justify;" class="description">
                                Treinamento corporativo preparatório para profissionais de Tecnologia da Informação, o objetivo de proporcionar a compreensão completa de proteção de dados e dos requisitos legais brasileiros, conforme definido na LGPD.
                                No final deste treinamento, o aluno estará preparado para realizar a prova de certificação ESSENTIALS - LGPD e FOUNDATION - GDPR da Exin.

                            </p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 wow bounceInUp" style="padding-left: 80px;">
                            <div class="icon2"><i class="fa fa-user" style="font-size:26px;"></i></div>
                            <h4 class="title2">Público Alvo</h4>
                            <p style="text-align:justify;" class="description2">Todo profissional de TI que precise de compreensão da proteção de dados e dos requisitos legais brasileiros, conforme definido na LGPD.</p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 wow bounceInUp" style="padding-left: 80px;">
                            <div class="icon2"><i class="fa fa-pencil" style="font-size:26px;"></i></div>
                            <h4 class="title2">Nível de Dificuldade</h4>
                            <p style="text-align:justify;" class="description2">Intermediário</p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 wow bounceInUp" style="padding-left: 80px;">
                            <div class="icon2"><i class="fa fa-history" style="font-size:30px;"></i></div>
                            <h4 class="title2">Duração do Treinamento</h4>
                            <p style="text-align:justify;" class="description2">16 horas de treinamento (incluindo exercícios)</p>

                            <a href="#">
                                <button type="button" class="btn btn-primary btn-lg btn-block" style="background-color:#18d26e; border-color:#fff;">Quero treinamento</button>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div style="min-height: 300px; margin-bottom: 10px;">
                            <a href="#"><img src="~/assets/img/lgpd/dpo.jpg" class="img-dpo"></a>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Start About area -->
    <!--
               <section id="services">
               <div class="container">

               <header class="section-header wow fadeInUp">
                   <h3>About eBusiness</h3>
               </header>
               <br/>
               <div class="row">

               <div class="col-md-6 col-sm-6 col-xs-12">
                   <div class="well-left">
                       <div class="single-well">
                           <a href="#">
                               <img src="~/assets/img/1.jpg" style="max-width: 100%;    height: auto;">
                           </a>
                       </div>
                   </div>
               </div>



           <div class="col-md-6 col-sm-6 col-xs-12">
             <div class="well-middle">
               <div class="single-well">
                 <a href="#">
                   <h4 style="color:black;">project Maintenance</h4>
                 </a>
                 <p style="text-align:justify">
                   Redug Lagre dolor sit amet, consectetur adipisicing elit. Itaque quas officiis iure aspernatur sit adipisci quaerat unde at nequeRedug Lagre dolor sit amet, consectetur adipisicing elit. Itaque quas officiis iure
                 </p>
                 <table>
                 <tr>
                   <td>
                     <i class="fa fa-check" style="color:#18d26e"></i> Interior design Package
                   </td>
                   </tr>
                   <tr>
                   <td>
                     <i class="fa fa-check" style="color:#18d26e"></i> Building House
                   </td>
                   </tr>
                   <tr>
                   <td>
                     <i class="fa fa-check" style="color:#18d26e"></i> Reparing of Residentail Roof
                   </td>
                   </tr>
                   <tr>
                   <td>
                     <i class="fa fa-check" style="color:#18d26e"></i> Renovaion of Commercial Office
                   </td>
                   </tr>
                   <tr>
                   <td>
                     <i class="fa fa-check" style="color:#18d26e"></i> Make Quality Products
                   </td>
                 </tr>
                 </table>
               </div>
             </div>
           </div>

         </div>
       </div>


    </section>
       -->
    <!-- #services -->
    <!--==========================
      Call To Action Section
    ============================-->
    <!--
    <section id="call-to-action" class="wow fadeIn">
      <div class="container text-center">
        <h3>Call To Action</h3>
        <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a class="cta-btn" href="#">Call To Action</a>
      </div>
    </section><!-- #call-to-action -->
    <!--==========================
      Skills Section
    ============================-->
    <!--
    <section id="skills">
      <div class="container">

        <header class="section-header">
          <h3>Our Skills</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
        </header>

        <div class="skills-content">

          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">HTML <i class="val">100%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">CSS <i class="val">90%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">JavaScript <i class="val">75%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Photoshop <i class="val">55%</i></span>
            </div>
          </div>

        </div>

      </div>
    </section>
    -->
    <!--==========================
      Facts Section
    ============================-->
    <section id="facts" class="wow fadeIn">
        <div class="container">

            <header class="section-header">
                <h3>Nossos Números</h3>
                <p>Números de clientes, parceiros, rede de relacionamentos e resultados de sucesso nos trabalhos realizados.</p>
            </header>

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">817</span>
                    <p>Clientes e Parceiros</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">6</span>
                    <p>Projetos em andamento</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">3</span>
                    <p>Projetos concluidos</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">18</span>
                    <p>Projetos fechados</p>
                </div>

            </div>
            <!--
                <div class="facts-img">
                  <img src="~/assets/img/facts-img.png" alt="" class="img-fluid">
                </div>
            -->
        </div>
    </section><!-- #facts -->
    <!--==========================
      Portfolio Section
    ============================-->
    <!--
    <section id="portfolio"  class="section-bg" >
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Our Portfolio</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="~/assets/img/portfolio/app1.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">App 1</a></h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="~/assets/img/portfolio/web3.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Web 3</a></h4>
                <p>Web</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="~/assets/img/portfolio/app2.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/app2.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">App 2</a></h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="~/assets/img/portfolio/card2.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/card2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Card 2</a></h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="~/assets/img/portfolio/web2.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/web2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Web 2</a></h4>
                <p>Web</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="~/assets/img/portfolio/app3.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/app3.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">App 3</a></h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="~/assets/img/portfolio/card1.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/card1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Card 1</a></h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="~/assets/img/portfolio/card3.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/card3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Card 3</a></h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="~/assets/img/portfolio/web1.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Web 1</a></h4>
                <p>Web</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #portfolio -->
    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="wow fadeInUp">
        <div class="container">

            <header class="section-header">
                <h3>Nossos Clientes e Parceiros</h3>
            </header>

            <div class="owl-carousel clients-carousel">
                <img src="~/assets/img/lgpd/clients/abracam.png" alt="Assossiação Brasileira de Câmbio">                
                <img src="~/assets/img/lgpd/clients/acrefi.png" alt="Acrefi">
                <img src="~/assets/img/lgpd/clients/pan.png" alt="Banco Pan">
                <img src="~/assets/img/lgpd/clients/isaca.png" alt="ISACA">
                <img src="~/assets/img/lgpd/clients/security_labs.png" alt="Security Labs - Segurança da Informação">
                <img src="~/assets/img/lgpd/clients/w3corp.png" alt="W3 Corp">
                <!--
                <img src="~/assets/img/clients/client-4.png" alt="">
                <img src="~/assets/img/clients/client-5.png" alt="">
                <img src="~/assets/img/clients/client-6.png" alt="">
                <img src="~/assets/img/clients/client-7.png" alt="">
                <img src="~/assets/img/clients/client-8.png" alt="">
                -->
            </div>

        </div>
    </section><!-- #clients -->
    <!--==========================
      Clients Section
    ============================-->
    <!--
    <section id="testimonials" class="section-bg wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Testimonials</h3>
        </header>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="~/assets/img/testimonial-1.jpg" class="testimonial-img" alt="">
            <h3>Saul Goodman</h3>
            <h4>Ceo &amp; Founder</h4>
            <p>
              <img src="~/assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
              Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
              <img src="~/assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="~/assets/img/testimonial-2.jpg" class="testimonial-img" alt="">
            <h3>Sara Wilsson</h3>
            <h4>Designer</h4>
            <p>
              <img src="~/assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
              <img src="~/assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="~/assets/img/testimonial-3.jpg" class="testimonial-img" alt="">
            <h3>Jena Karlis</h3>
            <h4>Store Owner</h4>
            <p>
              <img src="~/assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
              <img src="~/assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="~/assets/img/testimonial-4.jpg" class="testimonial-img" alt="">
            <h3>Matt Brandon</h3>
            <h4>Freelancer</h4>
            <p>
              <img src="~/assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
              <img src="~/assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="~/assets/img/testimonial-5.jpg" class="testimonial-img" alt="">
            <h3>John Larson</h3>
            <h4>Entrepreneur</h4>
            <p>
              <img src="~/assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
              <img src="~/assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

        </div>

      </div>
    </section><!-- #testimonials -->
    <!--==========================
      Team Section
    ============================-->
    <!--
    <section id="team">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>Team</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="~/assets/img/team-1.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Walter White</h4>
                  <span>Chief Executive Officer</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="~/assets/img/team-2.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sarah Jhonson</h4>
                  <span>Product Manager</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="~/assets/img/team-3.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>CTO</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="~/assets/img/team-4.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->
    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
        <div class="container">

            <div class="section-header">
                <h3>Contato</h3>
                <p>Estamos prontos para atendê-lo, entre em contato e nosso Time retornará o contato.</p>
            </div>

            <div class="row contact-info">

                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="ion-ios-location-outline" style="color: #535362;"></i>
                        <h3>Endereço</h3>
                        <address>Rua Pamplona, 518, Ed. China Trade Center, 1º andar, Jardim Paulista, São Paulo/SP</address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-phone">
                        <i class="ion-ios-telephone-outline" style="color: #535362;"></i>
                        <h3>Telefone</h3>
                        <p><a href="tel:+551132530888">+55 (11) 3253-0888</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="ion-ios-email-outline" style="color: #535362;"></i>
                        <h3>Email</h3>
                        <p><a href="mailto:info@example.com">atendimento@peterfilho.com.br</a></p>
                    </div>
                </div>

            </div>

            <div class="form">
                <div id="sendmessage">Obrigado por entrar em contato!</div>
                <div id="errormessage"></div>
                <form action="" method="post" role="form" class="contactForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Nome Completo" data-rule="minlen:4" data-msg="Preencha seu nome completo" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" data-rule="email" data-msg="Informe um e-mail válido" />
                            <div class="validation"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" data-rule="minlen:4" data-msg="Qual o título da nossa conversa?" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Inicie uma descrição da nossa conversa" placeholder="Descrição da conversa"></textarea>
                        <div class="validation"></div>
                    </div>
                    <div class="text-center"><button type="submit">Enviar Mensagem</button></div>
                </form>
            </div>

        </div>
    </section><!-- #contact -->
    </main>

    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3>LGPD</h3>
                        <p>Somos um empresa especializada e capacitada para os desafios previstos na nova legislação da LGPD.</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Links Úteis</h4>
                        <ul>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#">Início</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#">Sobre Nós</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#">Serviços</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#">Parceiros</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#">Contatos</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Nosso Contato</h4>
                        <p>
                            Rua Pamplona, 518, Ed. China Trade Center, 1º andar, Jardim Paulista<br>
                            São Paulo -
                            Brasil <br><br>
                            <strong>Telefone:</strong> +55 (11) 3253-0888<br>
                            <!-- <strong>Email:</strong> atendimento@peterfilho.com.br<br>-->
                        </p>
                        <!--
                        <div class="social-links">
                          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                          <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                          <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                          <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>
                        -->
                    </div>

                    <div class="col-lg-3 col-md-6 footer-newsletter">
                        <h4>Novidades</h4>
                        <p>Receba novidades referente ao tema da Lei Geral de Proteção de Dados - LGPD.</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Enviar">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>|</strong> Todos os Direitos Resevados.
                <div class="credits">
                    <!--
                      All the links in the footer should remain intact.
                      You can delete the links only if you purchased the pro version.
                      Licensing information: https://bootstrapmade.com/license/
                      Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
                    -->
                    Criado por <a href="https://bootstrapmade.com/">Eterna Tecnologia</a>
                </div>
            </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- JavaScript Libraries -->
    <script src="~/assets/lgpd/lib/jquery/jquery.min.js"></script>
    <script src="~/assets/lgpd/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/assets/lgpd/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/lgpd/lib/easing/easing.min.js"></script>
    <script src="~/assets/lgpd/lib/superfish/hoverIntent.js"></script>
    <script src="~/assets/lgpd/lib/superfish/superfish.min.js"></script>
    <script src="~/assets/lgpd/lib/wow/wow.min.js"></script>
    <script src="~/assets/lgpd/lib/waypoints/waypoints.min.js"></script>
    <script src="~/assets/lgpd/lib/counterup/counterup.min.js"></script>
    <script src="~/assets/lgpd/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/assets/lgpd/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/assets/lgpd/lib/lightbox/js/lightbox.min.js"></script>
    <script src="~/assets/lgpd/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
    <!-- Contact Form JavaScript File -->    
    <script src="~/assets/js/lgpd/contactform.js"></script>
    <!-- Template Main Javascript File -->
    <script src="~/assets/js/lgpd/main.js"></script>
</body>
</html>
